{% extends 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Profile
{% endblock %}

{% block static-files %}

    {% comment %} Import module libraries {% endcomment %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <link rel="stylesheet" type="text/css" href="{% static 'stores/profile/profile.css' %}" media="screen">

    <script src="{% static 'users/profile/cargarComuna.js' %}"></script>
    <script src="{% static 'stores/profile/profile.js' %}"></script>

    {% comment %} Import components templates {% endcomment %}
    {% include 'components/header.html' with type='head' %}
    {% include 'components/footer.html' with type='head' %}

{% endblock %}

{% block body %}
    {% include 'components/header.html' with type='body' %}
    <form method="post">
        {% csrf_token %}
        <div id="contents">
            <div class="row no-margin">
                <div class="col-3" id="menu-left-container">
                    <div class="menu-left-table">
                        <div class="menu-centered">
                            <div id="profile-menu">
                                <div class="menu-header">
                                    <div class="menu-header-image">
                                        <img src="{% static 'media/examples/store-image.png' %}"
                                             alt="Avatar de Tienda"/>
                                    </div>
                                    <script>
                                        let $store_img = '{{ store.store_image_profile }}';
                                        if (File.isFileImageExtension($store_img)) {
                                            $('.menu-header-image img').attr('src', $store_img);
                                        }
                                    </script>
                                    <div class="menu-header-title name-full">
                                        {{ store.brand_name }}
                                    </div>
                                    <div class="menu-header-title name-abbv">
                                        {{ store.brand_name }}
                                    </div>
                                </div>
                                <div class="menu-options">
                                    <a href="http://127.0.0.1:8000/store/{{ store.id }}">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-shopping-cart"></i><span>Ir a sitio</span>
                                        </div>
                                    </a>
                                    <a href="http://127.0.0.1:8000/sprofile/{{ store_index }}">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-info-circle"></i><span>Información principal</span>
                                        </div>
                                    </a>
                                    <div class="menu-item">
                                        <i class="fas fa-database"></i><span>Datos adicionales</span>
                                    </div>
                                    <a href="http://127.0.0.1:8000/sinventory/{{ store_index }}">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-store"></i><span>Mis Productos</span>
                                        </div>
                                    </a>
                                    <div class="menu-item">
                                        <i class="fas fa-shopping-cart"></i><span>Mis Vistas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-9" id="profile-contents">
                    <div class="profile-group">
                        <div class="profile-title"><i class="far fa-user-circle"></i>Datos del Producto</div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Nombre</div>
                                <div class="col-sm-8">{{ product_form.product_name|add_class:"form-control" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Precio</div>
                                <div class="col-sm-8">{{ product_form.price|add_class:"form-control" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Stock</div>
                                <div class="col-sm-8">{{ product_form.stock|add_class:"form-control" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Descripción Corta</div>
                                <div class="col-sm-8">{{ product_form.short_description|add_class:"form-control" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Descripción Larga</div>
                                <div class="col-sm-8">{{ product_form.long_description|add_class:"form-control" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Foto</div>
                                <div class="col-sm-8">{{ product_form.product_image|add_class:"form-control"|attr:"placeholder:https://example.com/image.jpg" }}</div>
                            </div>
                        </div>

                        <div class="profile-group group-buttons">
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            <button type="button" class="btn btn-secondary" id="dismiss">Deshacer cambios</button>
                            <script>
                                $('#dismiss').on('click', function () {
                                    window.location.href = 'http://127.0.0.1:8000/sinventory/{{ store_index }}';
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    {% include 'components/footer.html' with type='body' %}
{% endblock %}