{% extends 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Profile
{% endblock %}

{% block static-files %}

    {% comment %} Import module libraries {% endcomment %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <link rel="stylesheet" type="text/css" href="{% static 'stores/profile/profile.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'users/profile/user_stores.css' %}" media="screen">

    <script src="{% static 'stores/profile/profile.js' %}"></script>

    {% comment %} Import components templates {% endcomment %}
    {% include 'components/header.html' with type='head' %}
    {% include 'components/footer.html' with type='head' %}

{% endblock %}

{% block body %}
    {% include 'components/header.html' with type='body' %}
    <form method="post">
        {% csrf_token %}
        <div id="contents">
            <div class="row no-margin">
                <div class="col-3" id="menu-left-container">
                    <div class="menu-left-table">
                        <div class="menu-centered">
                            <div id="profile-menu">
                                <div class="menu-header">
                                    <div class="menu-header-image">
                                        <img src="{% static 'media/examples/store-image.png' %}"
                                             alt="Avatar de Usuario"/>
                                    </div>
                                    <script>
                                        let $store_img = '{{ store.store_image_profile }}';
                                        if (File.isFileImageExtension($store_img)) {
                                            $('.menu-header-image img').attr('src', $store_img);
                                        }
                                    </script>
                                    <div class="menu-header-title name-full">
                                        {{ store.brand_name }}
                                    </div>
                                    <div class="menu-header-title name-abbv">
                                        {{ store.brand_name }}
                                    </div>
                                </div>
                                <div class="menu-options">
                                    <a href="http://127.0.0.1:8000/store/{{ store.id }}">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-shopping-cart"></i><span>Ir a sitio</span>
                                        </div>
                                    </a>
                                    <a href="http://127.0.0.1:8000/sprofile/{{ store_index }}">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-info-circle"></i><span>Información principal</span>
                                        </div>
                                    </a>
                                    <div class="menu-item">
                                        <i class="fas fa-database"></i><span>Datos adicionales</span>
                                    </div>
                                    <a href="http://127.0.0.1:8000/sinventory/{{ store_index }}">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-store"></i><span>Mis Productos</span>
                                        </div>
                                    </a>
                                    <div class="menu-item">
                                        <i class="fas fa-shopping-cart"></i><span>Mis Vistas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9" id="store-contents">
                    <h1>Inventario Tienda:</h1>
                    <a href="http://127.0.0.1:8000/sinventory/addproduct/{{ store_index }}" class="create-new-store">
                        <p>Agregar producto</p>
                    </a>
                    <p>
                    {% for store_inventory in products %}
                    <div class="display-store-style">
                        <div>
                            <img class="store-image" src="{% static 'media/examples/caja.png' %}"
                                    alt="Imagen de Producto" id="img_item_{{ store_inventory.id }}"/>
                            {{ store_inventory.product_name }}
                        </div>
                        <div>
                            <a href="http://127.0.0.1:8000/sinventory/product/{{ store_index }}/{{store_inventory.id}}">
                                <img class="store-image-config" src="{% static 'media/examples/ajustes.png' %}"
                                    alt="Imagen de Tienda"/>
                            </a>
                        </div>
                    </div>
                    {% empty %}
                    <p>Ups! no tienes productos</p>
                    {% endfor %}
                    </p>
                </div>
                <script>
                    /*
                    Establece las imágenes
                     */
                    let imgs = [
                        {% for store_inventory in products %}
                            '{{ store_inventory.product_image }}',
                        {% endfor %}
                    ];
                    let ids = [
                        {% for store_inventory in products %}
                            '#img_item_{{ store_inventory.id }}',
                        {% endfor %}
                    ];
                    for (let $i = 0; $i < imgs.length; $i++) {
                        if (File.isFileImageExtension(imgs[$i])) {
                            $(ids[$i]).attr('src', imgs[$i]);
                        }
                    }
                </script>
            </div>
        </div>
    </form>
    {% include 'components/footer.html' with type='body' %}
{% endblock %}