{% extends 'root.html' %}
{% load static %}

{% block title %}
    Bazar - Tienda
{% endblock %}

{% block static-files %}

    {% comment %} Import module libraries {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static '/stores/store.css' %}" media="screen">

    <script src="{% static 'stores/store.js' %}"></script>

    {% comment %} Import components templates {% endcomment %}
    {% include 'components/header.html' with type='head' %}
    {% include 'components/footer.html' with type='head' %}

{% endblock %}

{% block body %}
    {% include 'components/header.html' with type='body' %}

    <div id="contents">
        <div class="store-banner">
            <div class=""><img class="store-image" src="{% static 'media/examples/tienda.png' %}"
                               alt="Imagen de Tienda"/>
                {{ store.brand_name }}
            </div>
            <script>
                let $store_img = '{{ store.store_image_profile }}';
                if (File.isFileImageExtension($store_img)) {
                    $('.store-image').attr('src', $store_img);
                }
            </script>
            <div class="horizontal-display">
                <div class="store-stars">{{ store.stars }} Stars</div>
                <div class="store-description">{{ store.long_description }}</div>
                <div class="store-webpage"><a href="{{ store.website }}">{{ store.website }}</a></div>
            </div>
        </div>
    </div>

    <div id="products" class="products-div">
        <div class="products-banner">
            <div class="recomended-banner">
                <div class="recommended-text">Recomendados</div>
            </div>
        </div>
        <div class="products-container">
            {% for p in store_inventory %}
            <div class="product">
                <img class="product-image" src="{% static 'media/examples/caja.png' %}" alt="Imagen de Tienda"/>
                <div class="product-name">{{p.product_name}}</div>
                <div class="product-price">{{p.price}}$</div>
                <button data-product="{{p.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar al carro</button>
            </div>
            {% endfor %}
            <!--
            <div class="product">
                <img class="product-image" src="{% static 'media/examples/caja.png' %}" alt="Imagen de Tienda"/>
                <div class="product-name">Nombre del producto</div>
                <div class="product-price">6000$</div>
            </div>
            <div class="product">
                <img class="product-image" src="{% static 'media/examples/caja.png' %}" alt="Imagen de Tienda"/>
                <div class="product-name">Nombre del producto</div>
                <div class="product-price">5000$</div>
            </div>
            <div class="product">
                <img class="product-image" src="{% static 'media/examples/caja.png' %}" alt="Imagen de Tienda"/>
                <div class="product-name">Nombre del producto</div>
                <div class="product-price">5000$</div>
            </div>
            <div class="product">
                <img class="product-image" src="{% static 'media/examples/caja.png' %}" alt="Imagen de Tienda"/>
                <div class="product-name">Nombre del producto</div>
                <div class="product-price">5000$</div>
            </div>
            <div class="product">
                <img class="product-image" src="{% static 'media/examples/caja.png' %}" alt="Imagen de Tienda"/>
                <div class="product-name">Nombre del producto</div>
                <div class="product-price">5000$</div>
            </div> -->
        </div>
    </div>

    <!-- <div id="search-results-bg"></div> -->
    {% include 'components/footer.html' with type='body' %}
{% endblock %}