{% extends 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Store Profile
{% endblock %}

{% block static-files %}

    {% comment %} Import module libraries {% endcomment %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <link rel="stylesheet" type="text/css" href="{% static 'stores/profile/profile.css' %}" media="screen">

    <script src="{% static 'stores/profile/profile.js' %}"></script>

    {% comment %} Import components templates {% endcomment %}
    {% include 'components/header.html' with type='head' %}
    {% include 'components/footer.html' with type='head' %}

{% endblock %}

{% block body %}
    {% include 'components/header.html' with type='body' %}
    <form method="post">
        {% csrf_token %}
        <div id="contents">
            <div class="row no-margin">
                <div class="col-3" id="menu-left-container">
                    <div class="menu-left-table">
                        <div class="menu-centered">
                            <div id="profile-menu">
                                <div class="menu-header">
                                    <div class="menu-header-image">
                                        <img src="{% static 'media/examples/store-image.png' %}"
                                             alt="Avatar de Tienda"/>
                                    </div>
                                    <script>
                                        let $store_img = '{{ store.store_image_profile }}';
                                        if (File.isFileImageExtension($store_img)) {
                                            $('.menu-header-image img').attr('src', $store_img);
                                        }
                                    </script>
                                    <div class="menu-header-title name-full">
                                        {{ store.brand_name }}
                                    </div>
                                    <div class="menu-header-title name-abbv">
                                        {{ store.brand_name }}
                                    </div>
                                </div>
                                <div class="menu-options">
                                    <a href="http://127.0.0.1:8000/store/{{ store.id }}">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-shopping-cart"></i><span>Ir a sitio</span>
                                        </div>
                                    </a>
                                    <a href="http://127.0.0.1:8000/sprofile/{{ store_index }}">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-info-circle"></i><span>Información principal</span>
                                        </div>
                                    </a>
                                    <div class="menu-item">
                                        <i class="fas fa-database"></i><span>Datos adicionales</span>
                                    </div>
                                    <a href="http://127.0.0.1:8000/sinventory/{{ store_index }}">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-store"></i><span>Mis Productos</span>
                                        </div>
                                    </a>
                                    <div class="menu-item">
                                        <i class="fas fa-shopping-cart"></i><span>Mis Vistas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9" id="profile-contents">
                    <div class="profile-group">
                        <div class="profile-title"><i class="far fa-user-circle"></i>Datos de la Tienda</div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Nombre Comercial</div>
                                <div class="col-sm-8">{{ store.brand_name }}</div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Razon Social</div>
                                <div class="col-sm-8">{{ store.company_name }}</div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Sitio Web</div>
                                <div class="col-sm-8"><a href="{{ store.website }}">{{ store.website }}</a></div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Imagen perfil</div>
                                <div class="col-sm-8" style="word-break: break-all;"><a
                                        href="{{ store.store_image_profile }}">{{ store.store_image_profile }}</a></div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Imagen banner</div>
                                <div class="col-sm-8" style="word-break: break-all;"><a
                                        href="{{ store.store_image_banner }}">{{ store.store_image_banner }}</a></div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Numero de Telefono</div>
                                <div class="col-sm-8">{{ store.phone_number }}</div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Descripción Corta</div>
                                <div class="col-sm-8">{{ store.short_description }}</div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Descripción Larga</div>
                                <div class="col-sm-8">{{ store.long_description }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-group">
                        <div class="profile-title"><i class="fas fa-compass"></i>Dirección de la Tienda</div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Región</div>
                                <div class="col-sm-8">{{ store.region }}</div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Comuna</div>
                                <div class="col-sm-8">{{ store.commune }}</div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Dirección</div>
                                <div class="col-sm-8">{{ store.address }}</div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Nº de Casa / Dpto. / Of.</div>
                                <div class="col-sm-8">{{ store.address_number }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-group group-buttons">
                        <a href="http://127.0.0.1:8000/sprofile/edit/{{ store_index }}/">Editar perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% include 'components/footer.html' with type='body' %}
{% endblock %}