# Ignore file extensions
.DS_Store
*.pyc

# Ignore IDE files
.idea/
.vscode/

# Ignore the database file
db.sqlite3

# Ignore certain files
Bazar/static/lib/chart.js/Chart.bundle.js

# Ignore migrations apps
inventories/migrations/**.py
stores/migrations/**.py
users/migrations/**.py
