{% if type == 'head' %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'src/components/header/header.css' %}" media="screen">
    <script src="{% static 'src/components/header/header.js' %}"></script>
    <script src="{% static 'src/components/cart.js' %}"></script>

{% elif type == 'body' %}

    <div id="header-component">
        <div class="row">
            <div id="header-title" class="col-5"></div>
            <div id="header-middle" class="col-2"></div>
            <div id="header-tools" class="col-5">
                <div id="header-tool-container">
                    {% if user.is_authenticated %}
                    <div class="header-tool-icon"><a href="http://127.0.0.1:8000/logout/">Logout</a></div>
                    <div class="header-tool-icon">
                        <a href="http://127.0.0.1:8000/cart/">Carro</a>
                        <span class="notification"><span class="badge">6</span></span>
                    </div>
                    <div class="header-tool-icon"><a href="http://127.0.0.1:8000/uprofile/">Perfil</a></div>
                    {% else %}
                    <div class="header-tool-icon"><a href="http://127.0.0.1:8000/signup/">Sign up</a></div>
                    <div class="header-tool-icon"><a href="http://127.0.0.1:8000/login/">Login</a></div>
                    {% endif %}
                    <div class="header-tool-icon"><a href="http://127.0.0.1:8000/home/">Buscador</a></div>
                </div>
                <div id="header-tool-container-button">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </div>

{% endif %}