<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bazar</title>

    <!-- Import libraries -->
    <script src="{% static 'js/core/globals.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'lib/jquery-dateFormat/jquery-dateFormat.min.js' %}"></script>
    <script src="{% static 'lib/jscookie/js.cookie-2.2.1.min.js' %}"></script>

    <!-- Import styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/leanmodal.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/root.css' %}" media="screen">

    <!-- Import app -->
    <script src="{% static 'js/about/about.js' %}"></script>
    <script src="{% static 'js/about/author.js' %}"></script>
    <script src="{% static 'js/about/version.js' %}"></script>
    <script src="{% static 'js/core/primitives/date.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/core/dom/dom.js' %}"></script>
    <script src="{% static 'js/core/dom/jquery.js' %}"></script>
    <script src="{% static 'js/core/math/hash.js' %}"></script>
    <script src="{% static 'js/core/math/is.js' %}"></script>
    <script src="{% static 'js/core/math/math.js' %}"></script>
    <script src="{% static 'js/core/bazar/console.js' %}"></script>
    <script src="{% static 'js/core/bazar/errors.js' %}"></script>
    <script src="{% static 'js/core/bazar/imports.js' %}"></script>
    <script src="{% static 'js/core/bazar/session.js' %}"></script>
    <script src="{% static 'js/core/network/ajax.js' %}"></script>
    <script src="{% static 'js/core/network/url.js' %}"></script>
    <script src="{% static 'js/core/primitives/array.js' %}"></script>
    <script src="{% static 'js/core/primitives/color.js' %}"></script>
    <script src="{% static 'js/core/primitives/date.js' %}"></script>
    <script src="{% static 'js/core/primitives/file.js' %}"></script>
    <script src="{% static 'js/core/primitives/polyfills.js' %}"></script>
    <script src="{% static 'js/core/primitives/string.js' %}"></script>
    <script src="{% static 'js/core/utils/country.js' %}"></script>
    <script src="{% static 'js/core/utils/eventutils.js' %}"></script>
    <script src="{% static 'js/core/utils/libutils.js' %}"></script>
    <script src="{% static 'js/ui/dialogs.js' %}"></script>
    <script src="{% static 'js/ui/leanmodal.js' %}"></script>
    <script src="{% static 'js/ui/loading.js' %}"></script>
    <script src="{% static 'js/ui/themes.js' %}"></script>
    <script src="{% static 'js/ui/utils.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>

Epic

</body>
</html>