{% extends 'root.html' %}
{% load static %}

{% block title %}
    Bazar - Home
{% endblock %}

{% block static-files %}

    {% comment %} Import module libraries {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'Bazar/home/home.css' %}" media="screen">

    <script src="{% static 'Bazar/home/home.js' %}"></script>
    <script src="{% static 'Bazar/home/search.js' %}"></script>

    {% comment %} Import components templates {% endcomment %}
    {% include 'components/header.html' with type='head' %}
    {% include 'components/footer.html' with type='head' %}

{% endblock %}

{% block body %}
    {% include 'components/header.html' with type='body' %}
    <div id="contents">
        <div id="search-box">
            <div id="search-box-title">¿Qué buscas hoy?</div>
            <div id="search-input-box">
                <i class="fas fa-search"></i>
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="search-input-text" placeholder="Busca una tienda"/>
            </div>
            <div id="search-input-tools"></div>
            <div id="search-box-last-queries">Últimas búsquedas: <span>Juguetes peluche</span> <span>Camión</span> <span>Accesorios Computación</span></div>
        </div>
        <div id="search-results"></div>
    </div>
    <!-- <div id="search-results-bg"></div> -->
    {% include 'components/footer.html' with type='body' %}
{% endblock %}