{% extends 'root.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block static-files %}

    {% comment %} Import module libraries {% endcomment %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <link rel="stylesheet" type="text/css" href="{% static 'Bazar/login/login.css' %}" media="screen">

    <script src="{% static 'Bazar/login/login.js' %}"></script>

    {% comment %} Import components templates {% endcomment %}
    {% include 'components/header.html' with type='head' %}
    {% include 'components/footer.html' with type='head' %}

{% endblock %}

{% block body %}
    {% include 'components/header.html' with type='body' %}
    <div id="contents" class="centered-vertically">
        <div class="contents-centered-box">
            <div id="login-box">
                <form id="login-form" method="post">
                    {% csrf_token %}
                    <div class="login-line">
                        <div class="row">
                            <div class="col-sm-5 login-item">
                                <i class="far fa-envelope"></i> E-mail
                            </div>
                            <div class="col-sm-7">
                                <input name="username" placeholder="username or email" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="login-line">
                        <div class="row">
                            <div class="col-sm-5 login-item">
                                <i class="fas fa-key"></i> Password
                            </div>
                            <div class="col-sm-7">
                                <input type="password" name="password" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="login-line">
                        <div class="button-container">
                            <button type="submit" class="btn btn-primary" style="margin-right: 1.5rem;">
                                Login
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <a href="http://127.0.0.1:8000/signup/">Registrarse</a>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'components/footer.html' with type='body' %}
{% endblock %}