@charset "UTF-8";
/*
LOGIN
Login module.
*/

#login-box {
	background-color: #ffffff;
	border-radius: 1rem;
	box-shadow: 0 0 7px 0 rgb(0 0 0 / 24%);
	font-size: 1rem;
	margin: 0 auto;
	max-width: 50%;
	min-width: 380px;
	padding: 2em 2em 1em;
}

@media screen and (max-width: 500px) {
	#login-box {
		min-width: fit-content;
		width: 95%;
	}
}

#login-box .login-line {
	display: block;
	margin-bottom: 1rem;
	width: 100%;
}

#login-box .login-item {
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	line-height: 2rem;
	text-align: right;
	vertical-align: middle;
}

@media screen and (max-width: 575px) {
	#login-box .login-item {
		text-align: left;
	}
}

#login-box .login-item i {
	margin-right: 0.5em;
}

#login-box .button-container {
	margin: 0 auto;
	padding-top: 2rem;
	text-align: center;
}

@media screen and (max-width: 500px) {
	#login-box .button-container {
		padding-top: 1rem;
	}
}

#login-box .button-container a {
	color: inherit;
}