{% extends 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Profile
{% endblock %}

{% block static-files %}

    {% comment %} Import module libraries {% endcomment %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/profile/profile.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'users/profile/user_stores.css' %}" media="screen">

    <script src="{% static 'users/profile/cargarComuna.js' %}"></script>
    <script src="{% static 'users/profile/profile.js' %}"></script>

    {% comment %} Import components templates {% endcomment %}
    {% include 'components/header.html' with type='head' %}
    {% include 'components/footer.html' with type='head' %}

{% endblock %}

{% block body %}
    {% include 'components/header.html' with type='body' %}
    <form method="post">
        {% csrf_token %}
        <div id="contents">
            <div class="row no-margin">
                <div class="col-3" id="menu-left-container">
                    <div class="menu-left-table">
                        <div class="menu-centered">
                            <div id="profile-menu">
                                <div class="menu-header">
                                    <div class="menu-header-image">
                                        <img src="{% static 'media/examples/user-image.jpeg' %}"
                                             alt="Avatar de Usuario"/>
                                    </div>
                                    <div class="menu-header-title name-full">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </div>
                                    <div class="menu-header-title name-abbv">
                                        Nombre C.
                                    </div>
                                </div>
                                <div class="menu-options">
                                    <a href="http://127.0.0.1:8000/uprofile">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-info-circle"></i> <span>Información principal</span>
                                        </div>
                                    </a>
                                    <div class="menu-item">
                                        <i class="fas fa-database"></i> <span>Datos adicionales</span>
                                    </div>
                                    <div class="menu-item">
                                        <i class="fas fa-shopping-cart"></i> <span>Mis Compras</span>
                                    </div>
                                    <a href="http://127.0.0.1:8000/ustores">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-store"></i> <span>Mis Tiendas</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9" id="store-contents">
                    <div class="profile-group">
                        <div class="profile-title"><i class="far fa-user-circle"></i>Datos de la Tienda</div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Nombre comercial</div>
                                <div class="col-sm-8"> {{ store_form.brand_name|add_class:"form-control" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Razon Social</div>
                                <div class="col-sm-8"> {{ store_form.company_name|add_class:"form-control" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Descripción corta</div>
                                <div class="col-sm-8"> {{ store_form.short_description|add_class:"form-control" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Descripción larga</div>
                                <div class="col-sm-8"> {{ store_form.long_description|add_class:"form-control" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Sitio web</div>
                                <div class="col-sm-8"> {{ store_form.website|add_class:"form-control"|append_attr:"placeholder:website.com" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Imagen perfil</div>
                                <div class="col-sm-8"> {{ store_form.store_image_profile|add_class:"form-control"|append_attr:"placeholder:website.com/image_profile.png" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Imagen banner</div>
                                <div class="col-sm-8"> {{ store_form.store_image_banner|add_class:"form-control"|append_attr:"placeholder:website.com/image_banner.png" }}</div>
                            </div>
                        </div>

                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Numero de telefono</div>
                                <div class="col-sm-8"> {{ store_form.phone_number|add_class:"form-control"|append_attr:"placeholder:+569 12345678" }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-group">
                        <div class="profile-title"><i class="far fa-compass"></i>Direccion de la Tienda</div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Region</div>
                                <div class="col-sm-8">
                                    <select name="region" id="region" class="form-control" onchange="cargarComunas()"
                                            required="required">
                                        <option value="" disabled selected hidden>Seleccione región</option>
                                        <option value="Arica y Parinacota">Arica y Parinacota</option>
                                        <option value="Tarapacá">Tarapacá</option>
                                        <option value="Antofagasta">Antofagasta</option>
                                        <option value="Atacama">Atacama</option>
                                        <option value="Coquimbo">Coquimbo</option>
                                        <option value="Valparaíso">Valparaíso</option>
                                        <option value="RM">RM</option>
                                        <option value="Libertador Gral. Bernardo O’Higgins">Libertador Gral. Bernardo
                                            O’Higgins
                                        </option>
                                        <option value="Maule">Maule</option>
                                        <option value="Ñuble">Ñuble</option>
                                        <option value="Biobío">Biobío</option>
                                        <option value="Araucanía"> Araucanía</option>
                                        <option value="Los Ríos">Los Ríos</option>
                                        <option value="Los Lagos">Los Lagos</option>
                                        <option value="Aisén del Gral. Carlos Ibáñez del Campo"> Aisén del Gral. Carlos
                                            Ibáñez del Campo
                                        </option>
                                        <option value="Magallanes y de la Antártica Chilena">Magallanes y de la
                                            Antártica Chilena
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Comuna</div>
                                <div class="col-sm-8">
                                    <select name="commune" id="commune" class="form-control" required="required">
                                        <option value="" disabled selected hidden>Seleccione comuna</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Dirección</div>
                                <div class="col-sm-8"> {{ store_form.address|add_class:"form-control" }}</div>
                            </div>
                        </div>
                        <div class="profile-input-line">
                            <div class="row">
                                <div class="col-sm-4">Nº de Casa / Dpto. / Of.</div>
                                <div class="col-sm-8"> {{ store_form.address_number|add_class:"form-control" }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-group group-buttons">
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        <button type="button" class="btn btn-secondary" id="dismiss">Deshacer cambios</button>
                        <script type="text/javascript">
                            document.getElementById("dismiss").onclick = function () {
                                location.href = "http://127.0.0.1:8000/ustores";
                            };
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% include 'components/footer.html' with type='body' %}
{% endblock %}