{% extends 'root.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Profile - Tus Tiendas
{% endblock %}

{% block static-files %}

    {% comment %} Import module libraries {% endcomment %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/profile/profile.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'users/profile/user_stores.css' %}" media="screen">

    <script src="{% static 'users/profile/profile.js' %}"></script>

    {% comment %} Import components templates {% endcomment %}
    {% include 'components/header.html' with type='head' %}
    {% include 'components/footer.html' with type='head' %}

{% endblock %}

{% block body %}
    {% include 'components/header.html' with type='body' %}
    <form method="post">
        {% csrf_token %}
        <div id="contents">
            <div class="row no-margin">
                <div class="col-3" id="menu-left-container">
                    <div class="menu-left-table">
                        <div class="menu-centered">
                            <div id="profile-menu">
                                <div class="menu-header">
                                    <div class="menu-header-image">
                                        <img src="{% static 'media/examples/user-image.jpeg' %}"
                                             alt="Avatar de Usuario"/>
                                    </div>
                                    <div class="menu-header-title name-full">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </div>
                                    <div class="menu-header-title name-abbv">
                                        Nombre C.
                                    </div>
                                </div>
                                <div class="menu-options">
                                    <a href="http://127.0.0.1:8000/uprofile/">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-info-circle"></i> <span>Información principal</span>
                                        </div>
                                    </a>
                                    <div class="menu-item">
                                        <i class="fas fa-database"></i> <span>Datos adicionales</span>
                                    </div>
                                    <div class="menu-item">
                                        <i class="fas fa-shopping-cart"></i> <span>Mis Compras</span>
                                    </div>
                                    <a href="http://127.0.0.1:8000/ustores">
                                        <div class="menu-item item-active">
                                            <i class="fas fa-store"></i> <span>Mis Tiendas</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-9" id="store-contents">

                    <h1>Tus Tiendas:</h1>
                    <a href="http://127.0.0.1:8000/ustores/createstore" class="create-new-store">
                        Crear una nueva tienda
                    </a>
                    <p>
                        {% for store_index, store_index_global, store in user_stores %}
                            <div class="display-store-style">
                                <div>
                                    <img class="store-image" src="{% static 'media/examples/tienda.png' %}"
                                         alt="Imagen de Tienda"/>
                                    <a href="http://127.0.0.1:8000/store/{{ store_index_global }}">{{ store.brand_name }}</a>
                                </div>
                                <div>
                                    <a href="http://127.0.0.1:8000/sprofile/{{ store_index }}">
                                        <img class="store-image-config" src="{% static 'media/examples/ajustes.png' %}"
                                             alt="Imagen de Tienda"/>
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <p>Ups! no tienes tiendas</p>
                        {% endfor %}
                    </p>

                </div>
                <script>
                    let $store_images = [
                        {% for _, _, store in user_stores %}
                            '{{ store.store_image_profile }}',
                        {% endfor %}
                    ];
                    $('.store-image').each(($id, $val) => {
                        let $img = $store_images[$id]
                        if (File.isFileImageExtension($img)) {
                            $($val).attr('src', $store_images[$id]);
                        }
                    });
                </script>

            </div>
        </div>
    </form>
    {% include 'components/footer.html' with type='body' %}
{% endblock %}