<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta http-equiv="x-ua-compatible" content="IE=10">
    <meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">

    <!-- Import libraries -->
    <script src="{% static 'src/core/globals.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/jquery-dateFormat/jquery-dateFormat.min.js' %}"></script>
    <script src="{% static 'lib/jscookie/js.cookie-2.2.1.min.js' %}"></script>

    <!-- Import styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/leanmodal.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/lib.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/loading.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/root.css' %}" media="screen">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/favicon/site.webmanifest' %}">

    <!-- Use pace for loading -->
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/pace.css' %}" media="screen">

    <!-- Import app -->
    <script src="{% static 'src/about/about.js' %}"></script>
    <script src="{% static 'src/about/author.js' %}"></script>
    <script src="{% static 'src/about/version.js' %}"></script>

    <script src="{% static 'src/core/primitives/date.js' %}"></script>
    <script src="{% static 'src/config.js' %}"></script>
    <script src="{% static 'src/core/dom/dom.js' %}"></script>
    <script src="{% static 'src/core/dom/jquery.js' %}"></script>
    <script src="{% static 'src/core/math/hash.js' %}"></script>
    <script src="{% static 'src/core/math/is.js' %}"></script>
    <script src="{% static 'src/core/math/math.js' %}"></script>
    <script src="{% static 'src/core/bazar/console.js' %}"></script>
    <script src="{% static 'src/core/bazar/errors.js' %}"></script>
    <script src="{% static 'src/core/bazar/imports.js' %}"></script>
    <script src="{% static 'src/core/bazar/session.js' %}"></script>
    <script src="{% static 'src/core/network/ajax.js' %}"></script>
    <script src="{% static 'src/core/network/url.js' %}"></script>
    <script src="{% static 'src/core/primitives/array.js' %}"></script>
    <script src="{% static 'src/core/primitives/color.js' %}"></script>
    <script src="{% static 'src/core/primitives/date.js' %}"></script>
    <script src="{% static 'src/core/primitives/file.js' %}"></script>
    <script src="{% static 'src/core/primitives/polyfills.js' %}"></script>
    <script src="{% static 'src/core/primitives/string.js' %}"></script>
    <script src="{% static 'src/core/utils/country.js' %}"></script>
    <script src="{% static 'src/core/utils/eventutils.js' %}"></script>
    <script src="{% static 'src/core/utils/libutils.js' %}"></script>

    <script src="{% static 'src/components/component.js' %}"></script>

    <script src="{% static 'src/modules/module.js' %}"></script>

    <script src="{% static 'src/ui/dialogs.js' %}"></script>
    <script src="{% static 'src/ui/leanmodal.js' %}"></script>
    <script src="{% static 'src/ui/loading.js' %}"></script>
    <script src="{% static 'src/ui/themes.js' %}"></script>
    <script src="{% static 'src/ui/utils.js' %}"></script>

    <!-- Custom module static files -->
    {% block static-files %}
    {% endblock %}

    <!-- Init app -->
    <script src="{% static 'src/app.js' %}"></script>
</head>

<body>
{% block body %}
{% endblock %}
</body>

</html>