@charset "UTF-8";
/*
PROFILE
Profile module.
*/

#contents {
	padding: 0 !important;
}

#profile-contents {
	background-color: #ffffff;
	padding: 2rem 1rem;
}

@media screen and (max-width: 640px) {
	#profile-contents {
		padding: 1rem;
	}
}

#profile-menu {
	padding-top: 2rem;
	vertical-align: middle;
	padding-bottom: 2rem;
}

#menu-left-container {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

#menu-left-container .menu-centered {
	display: table-cell;
	vertical-align: middle;
}

#menu-left-container .menu-left-table {
	display: table;
	width: 100%;
}

#profile-menu .menu-header-image img {
	border-radius: 2rem;
	box-shadow: 0 0 12px 0 rgb(0 0 0 / 21%);
	max-height: 200px;
	max-width: 200px;
	width: 75%;
}

#profile-menu .menu-header-title {
	color: #ffffff;
	cursor: default;
	font-size: 1.75rem;
	font-weight: 600;
	padding-left: 0.5rem;
	padding-top: 1rem;
	padding-right: 0.5rem;
}

@media screen and (max-width: 1050px) {
	#profile-menu .menu-header-title {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 875px) {
	#profile-menu .menu-header-title {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 650px) {
	#profile-menu .menu-header-title {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 500px) {
	#profile-menu .menu-header-title {
		font-size: 1rem;
	}
}

#profile-menu .menu-header {
	text-align: center;
}

#profile-menu .menu-options {
	border-top: 1px solid #ffffff94;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	padding-top: 1rem;
}

#profile-menu .menu-options a {
	text-decoration: none;
}

#profile-menu .menu-options .menu-item {
	color: #b9b9b9;
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
}

#profile-menu .menu-options .menu-item i {
	background-color: #2b005247;
	border-radius: 1rem;
	display: block;
	font-size: 1.5rem;
	padding: 0.5rem 0.9rem;
	text-align: center;
}

#profile-menu .menu-options .menu-item i:hover {
	background-color: rgba(43, 0, 82, 0.45);
}

#profile-menu .menu-options .menu-item.item-active {
	color: #ffffff;
	cursor: pointer;
}

@media screen and (max-width: 750px) {
	#profile-menu .menu-options .menu-item {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 600px) {
	#profile-menu .menu-options .menu-item {
		font-size: 0.95rem;
	}
}

/**
Profile page contents
 */
#profile-contents .profile-title {
	border-bottom: 2px solid #e91e63;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

@media screen and (max-width: 640px) {
	#profile-contents .profile-title {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}
}

/* noinspection Stylelint */
#profile-contents .profile-title i {
	margin-right: 0.75rem;
}

#profile-contents .profile-input-line {
	margin-left: 1.5rem;
	margin-bottom: 1.2rem;
}

@media screen and (max-width: 640px) {
	#profile-contents .profile-input-line {
		margin-left: 1.1rem;
	}
}

#profile-contents .profile-input-line .col-sm-4 {
	align-items: center;
	display: flex;
	font-size: 1.1rem;
	font-weight: 600;
	justify-content: flex-start;
	vertical-align: middle;
}

@media screen and (max-width: 750px) {
	#profile-contents .profile-input-line .col-sm-4 {
		font-size: 1rem;
	}
}

#profile-contents .profile-input-line .col-sm-8 .form-control {
	max-width: 75%;
}

@media screen and (max-width: 640px) {
	#profile-contents .profile-input-line .col-sm-8 .form-control {
		max-width: 85%;
	}
}

@media screen and (max-width: 500px) {
	#profile-contents .profile-input-line .col-sm-8 .form-control {
		max-width: 100%;
	}
}

#profile-contents .profile-group {
	cursor: default;
}

#profile-contents .profile-group + div.profile-group {
	margin-top: 3rem;
}

@media screen and (max-width: 640px) {
	#profile-contents .profile-group + div.profile-group {
		margin-top: 2rem;
	}
}

#profile-contents .profile-group.group-buttons {
	text-align: center;
	padding-top: 1rem;
}

#profile-contents .profile-group.group-buttons .btn {
	margin-left: 1rem;
	margin-right: 1rem;
}