{% extends 'root.html' %}
{% load static %}

{% block title %}
    Bazar - Home
{% endblock %}

{% block static-files %}
    <script src="{% static 'src/modules/home/home.js' %}"></script>
    {% include 'components/header.html' with type='head' %}
    {% include 'components/footer.html' with type='head' %}
{% endblock %}

{% block body %}
    {% include 'components/header.html' with type='body' %}
    <div id="contents">Very epic</div>
    {% include 'components/footer.html' with type='body' %}
{% endblock %}